.board{
    width: 300px;
    background-color: #1d204b;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: min(10px);
    margin-left: min(10px);
}

.boardsmall{

}