.container{
    position: center;
    max-width: 1520px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container1{
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.containersmall{
    height: 82%;
    background-color: #1d204b;
    border-radius: 17px;
    position: relative;
    top: 18%;
}
