body{
    background-color: #0d1323;
}

.big{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    position: center;
    max-width: 1520px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container1{
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.containersmall{
    height: 82%;
    /*background: linear-gradient(to bottom, #1d204b. #17193b);*/
    background-color: #1d204b;
    border-radius: 17px;
    position: relative;
    top: 18%;
}

.board{
    width: 300px;
    background-color: #1d204b;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: min(20px);
    margin-left: min(20px);
    box-shadow: 0 0 55px #05080f;
    background: linear-gradient(135deg, rgba(35,38,81,1) 0%, rgba(18,20,53,1) 100%);
}

.boardsmall{
    height: 70%;
    background-color: #5746ea;
    border-radius: 17px;
}

.cards{
    background-color: #ff8b64;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position-x: 92%;
    background-position-y: -3%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: min(20px);
    margin-left: min(20px);
}

.work{
    background-image: url("/users/arb/desktop/time-tracking-dashboard-main/data/images/icon-work.svg");
    background-color: #ff8b64;
    box-shadow: 0 0 55px #05080f;
}

.play{
    background-image: url("/users/arb/desktop/time-tracking-dashboard-main/data/images/icon-play.svg");
    background-color: #56c2e6;
    box-shadow: 0 0 55px #05080f;
}

.study{
    background-image: url("/users/arb/desktop/time-tracking-dashboard-main/data/images/icon-study.svg");
    background-color: #ff5e7d;
    box-shadow: 0 0 55px #05080f;
}

.exercise{
    background-image: url("/users/arb/desktop/time-tracking-dashboard-main/data/images/icon-exercise.svg");
    background-color: #4bcf83;
    background-position-y: 0%;
    box-shadow: 0 0 55px #05080f;
}

.social {
    background-image: url("/users/arb/desktop/time-tracking-dashboard-main/data/images/icon-social.svg");
    background-color: #7235d1;
    box-shadow: 0 0 55px #05080f;
}

.selfcare{
    background-image: url("/users/arb/desktop/time-tracking-dashboard-main/data/images/icon-self-care.svg");
    background-color: #f1c75b;
    box-shadow: 0 0 55px #05080f;
}
.cardgradient{
    background: linear-gradient(135deg, rgba(35,38,81,1) 0%, rgba(18,20,53,1) 100%);
}

@media (min-width:1051px; max-width: 1390px) {
    .board{
        width: 980px;
        background-color: #1d204b;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: min(20px);
        margin-left: min(20px);
    }
}

@media (min-width:711px; max-width: 1050px) {

}

@media (max-width: 710px) {

}