.play{
    background-image: url("/users/arb/desktop/time-tracking-dashboard-main/data/images/icon-play.svg");
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-color: #56c2e6;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: min(20px);
    margin-left: min(20px);
}

.playsmall{
    height: 80%;
    background-color: #1d204b;
    border-radius: 17px;
    position: relative;
    top: 20%;
}